{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/script.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>HolaMundo</h1>

    <form>
        <input type="text" name="title" id="" placeholder="Nombre">
        <input type="" placeholder="plan Mensual">
        <input type="text" placeholder="email" >
        <input type="text" placeholder="password">
        <input type="text" name="" placeholder="Rol" >
        <input type="text" placeholder="Status"> 
        <button type="button" id="botton_Registrar">Registrar Cuenta</button>
    </form>
</body>

</html>