{% extends 'core/base.html' %}
{% block content %}
<h1>Users</h1>
<a href="{% url 'users_create' %}">Nuevo</a>
<table border="1" cellpadding="6">
  <tr><th>ID</th><th>Nombre</th><th>Email</th><th>Rol</th><th>Status</th><th></th></tr>
  {% for u in items %}
  <tr>
    <td>{{ u.id }}</td>
    <td><a href="{% url 'users_detail' u.pk %}">{{ u.name }}</a></td>
    <td>{{ u.email }}</td>
    <td>{{ u.rol }}</td>
    <td>{{ u.status }}</td>
    <td>
      <a href="{% url 'users_update' u.pk %}">Editar</a> |
      <a href="{% url 'users_delete' u.pk %}">Eliminar</a>
    </td>
  </tr>
  {% empty %}
  <tr><td colspan="6">Sin registros</td></tr>
  {% endfor %}
</table>
{% endblock %}
